version: '3.8'
services:
  postgres:
    image: postgres:15
    env_file: .env
    environment:
      POSTGRES_PASSWORD: ${DATABASE_PASSWORD}
      POSTGRES_DB: ${DATABASE_NAME}
    volumes:
      - pgdata:/var/lib/postgresql/data
    networks:
      - appnet

  backend:
    build:
      context: ./backend
    env_file: .env
    environment:
      DATABASE_HOST: ${DATABASE_HOST}
      DATABASE_PORT: ${DATABASE_PORT}
      DATABASE_USER: ${DATABASE_USER}
      DATABASE_PASSWORD: ${DATABASE_PASSWORD}
      DATABASE_NAME: ${DATABASE_NAME}
      PORT: ${PORT}
    ports:
      - "3002:3002"
    depends_on:
      - postgres
    networks:
      - appnet

  frontend:
    build:
      context: ./frontend
    env_file: .env
    environment:
      NEXT_PUBLIC_API_URL: ${FRONTEND_URL}
    ports:
      - "3000:3000"
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.frontend.rule=Host(`my-photo-album.duckdns.org`)"
      - "traefik.http.routers.frontend.entrypoints=websecure"
      - "traefik.http.services.frontend.loadbalancer.server.port=3000"
      - "traefik.http.routers.frontend.tls.certresolver=le"
    depends_on:
      - backend
    networks:
      - appnet

  traefik:
    image: traefik:v2.10
    command:
      - --api.insecure=true
      - --providers.docker=true
      - --entryPoints.web.address=:80
      - --entryPoints.websecure.address=:443
      - --certificatesResolvers.le.acme.email=you@example.com
      - --certificatesResolvers.le.acme.storage=/letsencrypt/acme.json
      - --certificatesResolvers.le.acme.httpChallenge.entryPoint=web
    ports:
      - "80:80"
      - "443:443"
      - "8080:8080" # traefik dashboard (insecure)
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock:ro
      - traefik_lets_encrypt:/letsencrypt
    networks:
      - appnet

volumes:
  pgdata:
  traefik_lets_encrypt:

networks:
  appnet:
    driver: bridge
